.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache
nosetests.xml
htmlcov

# Translations
*.mo

env
env3
__pycache__
venv

.cache
docs/_build

# For Idea (e.g. PyCharm) users
.idea
*.iml

# mypy
.mypy_cache
